@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');


*{
    font-family: "Poppins", sans-serif;
}
body {
    margin: 0;
    padding: 0;
}

li, a{
    font-size: 16px;
    color: white;
    text-decoration: none;
}

.navbar {
    background-color: #333;
    padding: 20px;
    justify-content: end;
    display: flex;
    list-style: none;
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar li{
    display: inline-block;
    padding: 0px 20px;
}

.navbar li a{
    transition: all 0.3s ease 0s;
}


.navbar li a:hover {
    color: #16b06d;
}